*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

.login-button {
    position: absolute;
    margin-left: 1300px;
    margin-top: 5px;
    background: #0f3460;
    padding: 20px 30px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.login-button:hover {
    background-color: #16213e;
}

.wrapper .sidebar {
    position: fixed;
    top: 0;
    left: -255px;
    width: 250px;
    height: 100%;
    background-color: #1a1a2e;
    padding: 20px 0;
    transition: all 0.5s ease;
}


.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-placeholder {
    width: 100px; 
    height: 100px; 
    background-color: #0f3460; 
    border-radius: 50%; 
}


.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #0f3460;
    color: white;
    font-size: 16px 30px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.wrapper .sidebar ul li a:hover {
    background-color: #1c59a4;
}

.wrapper .menu-button {
    width: calc(100% - 255px);
    margin-left: 255px;
    transition: all 0.5s ease;
    font-size: 40px;
    position: absolute;
    top: 20px;
}

.wrapper .menu-button a{
   font-size: 40px;
   color: white;
}

body.active .wrapper .sidebar {
    left: 0px;
}

.content {
    width: 73%;
    display: flex;
    flex-direction: column; /* Stack the rows vertically */
    align-items: center; /* Center the content horizontally */
    margin: 0 auto; 
    margin-top: 40px;
}

h2 {
    align-self: flex-start;
}

/*edit search bar*/
.search-bar {
    width: 100%;
    max-width: 500px;
    background: #0f3460;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 325px;
    margin-top: 20px;
}

.search-bar input[type="text"] {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: white;
}

/*chang placeholder text color*/
::placeholder{
    color: #cac7ff
}

/*change size of the button image*/
.search-bar button img {
    width: 20px; 
    height: auto; 
}

.search-bar button {
    background: transparent;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* New CSS for scrollable rows */
.scrollable-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    width: 1105px;
    margin-bottom: 40px;
}

.scrollable-row::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollable-row h2 {
    color: #ffffff;
    padding: 0 20px;
}

/****************************************/

.show-placeholder {
    position: relative;
    flex: 0 0 auto;
    text-align: center;
    width: 205px;
    height: 350px;
    margin-right: 20px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
}

.show-placeholder img {
    height: 80%; /* Set image height to 80% */
    width: 100%; /* Ensure the image fills its container */
    border-radius: 5px 5px 0 0;
}

.show-placeholder::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add a transition effect for smooth hover */
    border-radius: 5px 5px 0 0;
    z-index: 1;
}

.show-placeholder:hover::after {
    height: 80%;
    opacity: 1; /* Show the overlay on hover */
    border-radius: 5px 5px 0 0;
}

.show-placeholder .name-year {
    background-color: black;
    height: 20%; /* Set name-year div height to 20% */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text horizontally */
    border-radius: 0 0 5px 5px;
}

.show-placeholder .name-year h3 {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  /*  white-space: normal;  Prevent header text from wrapping */
    text-align: left;
}

.show-placeholder .name-year p {
    font-size: 14px;
    text-align: left;
}

.show-placeholder .name-year:hover {
    text-decoration: underline;
}

/* Show the check and star on hover */
.show-placeholder:hover .check-star {
    display: flex; 
    z-index: 2;
}

.check-star {
    font-size: 30px;
    position: absolute;
    display: none;
    justify-content: space-between;
    margin-top: 120px;
}

.star {
    margin-left: 20px;
}

.star:hover {
    color: yellow;
}

.check:hover {
    color: rgb(22, 213, 22);
}


/*****************************************/

.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.genre-placeholder {
    position: relative;
    width: 215px;
    height: 250px;
    font-weight: bold;
    font-size: 25px;
    background-color: #0f3460;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.genre-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*Ensure image keeps its proportion*/
    transition: transform 0.3s ease;
    border: 2px solid transparent;
}

.genre-placeholder:hover img {
    transform: scale(1.05);
    margin: -5%;
    border-color: white;
}

.genre-text {
    position: absolute; /* Position the text absolutely */
    top: 50%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the text vertically and horizontally */
    color: white; /* Add styling for text color */
    font-weight: bold; /* Add styling for font weight */
    font-family: "Arial", sans-serif;

    -webkit-text-stroke: 1px black; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the desired level of transparency */
    backdrop-filter: blur(1px); /* Adjust the blur radius */
    z-index: 1; /* Place the overlay behind other elements */
    display: none; /* Initially hide the overlay */
}

body.active .overlay {
    display: block; /* Display the overlay when the sidebar is active*/
}

.sidebar, .menu-button {
    z-index: 11; /* ensure the sidebar and sidebar menu button stay over top the overlay*/
}

.sidebar .active {
    background-color: rgba(128, 0, 128, 0.2); /* Change to your desired background color */
}