<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="genre-card.css">
    <script src="sketch.js" defer></script>
</head>
<body>
  
    <div class="content">
        
        <!-- Grid layout for Drama genre -->
        <div class="thumbnail-grid">

            <div class="genre-placeholder">
                <h3>Name</h3>
                <img src="images/testing.jpg">
            </div>

        </div>
    </div>
</div>

</body>
</html>