<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="profile.css">
    <script src="sketch.js" defer></script>
</head>

<body>

    <div class="overlay"></div>

    <div class="wrapper">
        <div class="sidebar">
            <!-- profile image -->
            <div class = "profile">
                <div class="logo-placeholder"></div>
            </div>
    
            <!-- Button for side menu -->
            <div class="menu-button">
                <a href="#"><i class='bx bx-menu'></i></a>
            </div>
    
            <!-- list of buttons -->
            <ul>
                 <!-- home -->
                <li id="home"><a href="home.html"> 
                    <span class="icon"><i class='bx bxs-home'></i></span>
                    <span class="item">Home</span>
                </a></li>
                <!-- profile -->
                <li id="profile"><a href="profile.html"> 
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <span class="item">Profile</span>
                </a></li>
                <!-- library -->
                <li id="calendar"><a href="calendar.html"> 
                    <span class="icon"><i class='bx bxs-calendar'></i></span>
                    <span class="item">Library</span>
                </a></li>
                <!-- Disover -->
                <li id="discover"><a href="discover.html"> 
                    <span class="icon"><i class='bx bx-search-alt'></i></span>
                    <span class="item">Discover</span>
                </a></li>
                <!-- Settings -->
                <li id="settings"><a href="settings.html"> 
                    <span class="icon"><i class='bx bxs-cog'></i></span>
                    <span class="item">Settings</span>
                </a></li>
                <!-- Group-->
                <li id="group"><a href="group.html">
                    <span class="icon"><i class='bx bxs-group' ></i></span>
                    <span class="item">Group</span>
                </a></li>
            </ul>
        </div>
    </div>

    <!-- Profile Content -->
    <div class="profile-info">
        <div class="profile-pic-placeholder">
            <img src="images/comedy.jpg">
        </div>
        <div class="username">TonyS</div>
        <div class="user-bio">Just a guy trying to make it in the waste management business. 
            Loves ducks, good Italian food, and a quiet day on the boat.</div>
        
        <!-- Favorites -->
        <h2>Favorites</h2>
        <div class="scrollable-row">
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
        </div>
        
        <!-- Recents -->
        <h2>Recents</h2>
        <div class="scrollable-row">
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
            <div class="show-placeholder">Placeholder</div>
        </div>
    </div>

</body>
</html>