<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="profile-pic.css">
    <script src="sketch.js" defer></script>
</head>

<body>

    <div class="choose-image">
        <h1>Pick an image for your profile picture!</h1>
    </div>

    <div class="pic-options">

        <!--First row-->
        <div class="row">
            <div class="picture">
                <img src="images/comedy.jpg">
            </div>
            <div class="picture">
                <img src="images/thriller.jpg">
            </div>
            <div class="picture">
                <img src="images/thriller.jpg">
            </div>
            <div class="picture">
                <img src="images/romance.jpg">
            </div>
            <div class="picture">
                <img src="images/sci-fi.jpg">
            </div>
        </div>

         <!--Second row-->
        <div class="row">
            <div class="picture">
                <img src="images/comedy.jpg">
            </div>
            <div class="picture">
                <img src="images/comedy.jpg">
            </div>
            <div class="picture">
                <img src="images/comedy.jpg">
            </div>
            <div class="picture">
                <img src="images/comedy.jpg">
            </div>
            <div class="picture">
                <img src="images/comedy.jpg">
            </div>
        </div>

         <!--Third row-->
        <div class="row">
            <div class="picture">
                <img src="images/action.jpg">
            </div>
            <div class="picture">
                <img src="images/drama.jpeg">
            </div>
            <div class="picture">
                <img src="images/documentary.jpg">
            </div>
            <div class="picture">
                <img src="images/crime.jpg">
            </div>
            <div class="picture">
                <img src="images/horror.jpg">
            </div>
        </div>

         <!--Fourth row-->
        <div class="row">
            <div class="picture">
                <img src="images/horror2.jpg">
            </div>
            <div class="picture">
                <img src="images/fantasy.jpg">
            </div>
            <div class="picture">
                <img src="images/testing.jpg">
            </div>
            <div class="picture">
                <img src="images/crime.jpg">
            </div>
            <div class="picture">
                <img src="images/documentary.jpg">
            </div>
        </div>

    </div>

</body>
</html>