<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="settings.css">
    <script src="sketch.js" defer></script>
</head>

<body>

    <div class="overlay"></div>

    <div class="wrapper">
        <div class="sidebar">
            <!-- profile image -->
            <div class = "profile">
                <div class="logo-placeholder"></div>
            </div>
    
            <!-- Button for side menu -->
            <div class="menu-button">
                <a href="#"><i class='bx bx-menu'></i></a>
            </div>
    
            <!-- list of buttons -->
            <ul>
                 <!-- home -->
                <li id="home"><a href="home.html"> 
                    <span class="icon"><i class='bx bxs-home'></i></span>
                    <span class="item">Home</span>
                </a></li>
                <!-- profile -->
                <li id="profile"><a href="profile.html"> 
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <span class="item">Profile</span>
                </a></li>
                <!-- library -->
                <li id="calendar"><a href="calendar.html"> 
                    <span class="icon"><i class='bx bxs-calendar'></i></span>
                    <span class="item">Calendar</span>
                </a></li>
                <!-- Disover -->
                <li id="discover"><a href="discover.html"> 
                    <span class="icon"><i class='bx bx-search-alt'></i></span>
                    <span class="item">Discover</span>
                </a></li>
                <!-- Settings -->
                <li id="settings"><a href="settings.html"> 
                    <span class="icon"><i class='bx bxs-cog'></i></span>
                    <span class="item">Settings</span>
                </a></li>
                <!-- Group-->
                <li id="group"><a href="group.html">
                    <span class="icon"><i class='bx bxs-group' ></i></span>
                    <span class="item">Group</span>
                </a></li>
            </ul>
        </div>
    </div>

    <!-- Settings Content -->
    <div class="settings-content">
        <button class="settings-button">Change Username</button>
        <button class="settings-button">Change Password</button>
        <button class="settings-button">Log Out</button>
    </div>

</body>
</html>