/* Base and sidebar CSS remains the same */
*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3d07a8;
    color: #ffffff;
}

.show-profile-info {
    background-color: rgb(0, 213, 255);
    height: 600px;
    color: #ffffff;
    display: flex;
    justify-content: left; 
    align-items: center;
}

/*left side of div which has pic and streaming websites**********************/
.show-left {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: purple; */
    width: 500px;
    height: 100%;
    margin-left: 50px;
}

.show-pic {
    width: 350px;
    height: 450px;
    background-color: #333; 
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Ensure image keeps its proportion*/
    border-radius: 10px; 
}

.streaming-on {
   /* background-color: purple; */
    font-size: 24px;
    width: 250px;
    margin-bottom: 10px;
}

.streaming-sites {
    display: flex;
    justify-content: space-between; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 250px;
    height: 50px;
  /*  background-color: green; */
}

.streaming-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: visible;
}

.streaming-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Ensure image keeps its proportion*/
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.streaming-placeholder img:hover {
    border: 2px solid white; 
    transform: scale(1.2);
    cursor: pointer;
}

/*right side of div which has description of the show *********************************/
.show-right {
   /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 700px;
    height: 100%;
    margin-left: 50px;
}

.title-year {
    display: flex;
    margin-top: 70px;
}

.title-year h1 {
    font-size: 50px;
}

.tvpg-genre {
    display: flex;
    margin-bottom: 10px;
}

.tvpg-rating p{
    border: 1px solid white; 
    margin-right: 10px;
}

.show-icons {
    font-size: 30px;
    margin-bottom: 10px;
}

.show-icons .bx.bx-check-circle {
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.5s ease; 
}

.show-icons .bx.bx-check-circle:hover {
    color: rgb(90, 0, 128);
    transform: scale(1.2);
    cursor: pointer;
}

.show-icons .bx.bxs-star {
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.5s ease; 
}

.show-icons .bx.bxs-star:hover {
    color:  rgb(90, 0, 128);
    transform: scale(1.2);
    cursor: pointer;
}

.show-icons .bx.bx-bookmark-plus {
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.5s ease; 
}

.show-icons .bx.bx-bookmark-plus:hover {
    color: rgb(90, 0, 128);
    transform: scale(1.2);
    cursor: pointer;
}

.show-icons .bx.bxs-message-rounded {
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.5s ease; 
}

.show-icons .bx.bxs-message-rounded:hover {
    color: rgb(90, 0, 128);
    transform: scale(1.2);
    cursor: pointer;
}

.show-description {
    margin-bottom: 20px;
}

.show-description h3 {
    margin-bottom: 5px;
}

.rotten-tomato {
    margin-bottom: 10px;
}

/*circular progress bar ------------------ */
.circle-wrap {
    width: 160px;
    height: 160px;
}

.outer {
    height: 68px;
    width: 68px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    position: absolute;
    height: 86px;
    width: 86px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number {
    font-weight: 600;
    color: black;
}

circle {
    fill: none;
    stroke: red;
    stroke-width: 10px;
    stroke-dasharray: 307.86;
    stroke-dashoffset: 307.86;
    animation: anim 1s linear forwards;
}

:root {
    --dash-offset: 0;
}

@keyframes anim {
    100%{
        stroke-dashoffset: var(--dash-offset); 
    }
} 

svg {
    position: absolute;
    transform: rotate(-90deg);
}