<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Show Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="showprofile.css">
    <script src="sketch.js" defer></script>
</head>
<body>

<div class="overlay"></div>

<!-- TV Show Profile Content -->
<div class="show-profile-info">

    <!-- left div -->
    <div class="show-left">
        <div class="show-pic">
            <img src="images/comedy.jpg">
        </div>
        <div class="streaming-on">Streaming On:</div>

        <div class="streaming-sites">
            <div class="streaming-placeholder">
                <img src="images/netflix.jpg">
            </div>
            <div class="streaming-placeholder">
                <img src="images/hulu.png">
            </div>
            <div class="streaming-placeholder">
                <img src="images/disney.jpg">
            </div>
        </div>

    </div>

    <!-- right div -->
    <div class="show-right">
        <div class="title-year">
            <h1>Family Guy</h1>
            <p>2024</p>
        </div>

        <div class="tvpg-genre">
            <div class="tvpg-rating">
                <p>PG-13</p>
            </div>
            <div class="genre">
                <p>Comedy</p>
            </div>
        </div>

        <div class="show-icons">
            <i class='bx bx-check-circle'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bx-bookmark-plus'></i>
        </div>

        <div class="show-description">
            <h3>Description</h3>
            <p>Characters from different backgrounds are thrown together when the plane they're travelling on crashes into the Pacific Ocean. 
                A nightmare fight for survival ensues with the air supply running out and dangers creeping in from all sides.
            </p>
        </div>

        <div class="rating"
    </div>

</div>

</body>
</html>