<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="discover.css">
    <script src="sketch.js" defer></script>
</head>
<body>

    
<div class="show-placeholder">
    <img src="images/testing.jpg"> 
    <div class="check-star">
        <span class="check"><i class='bx bx-check'></i></span>
        <span class="star"><i class='bx bxs-star' ></i></span>
    </div>

    <div class="name-year">
        <h3>Breaking Bad: Blah Blah Blah</h3>
        <p>2008</p>
    </div>
</div>


</body>
</html>