# I cant reference env variables in an init.sql file,
# and when i pulled our dev data i had 'tate' as my user
# it'll fail if you try to use another name to access the data
# for now, so same as before- just fill in the things that aren't
# already filled in. if you're still having issues, run "./all.sh"
# from this directory to prune any old database volumes, force recreate
# the containers, and remove any orphans

# Copy the information from this example file into a .env file. This will be git ignored, so it will need to be redone
# anytime someone clones the repo. Right now, basically all users and passwords for postgres and django should be left as 
# 'tate', as that is the user postgres was set up with. This can be changed however
#
# GMAIL will be the gmail address you have set up, and GMAILPSWD is the app password you set up with the associated account
#
# You will need a Twilio account and registered app to get an auth token. It will be used in TWILIO_AUTH_TOKEN

# postgres
POSTGRES_USER=tate
POSTGRES_PASSWORD=
POSTGRES_DB=tate
HOST=db
PORT=5432

# django
DJANGO_SECURE_KEY=''
DJANGO_USER=
DJANGO_PG_SCHEMA=DJANGO_PG_SCHEMA

# redis
RHOST=redis
RPORT=6379

#Gmail
GMAIL=
GMAILPSWD=

#Twilio
TWILIO_AUTH_TOKEN=


# OUR_AIRBYTE=https://github.com/CS495org/airbyte.git

# don't change env vars that are set above. just fill in the blank ones in your .env file

# after git pulls airbyte, cd airbyte and "./run-ab-platform.sh"
