*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

.group-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjust based on your header/footer */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
}

.group-button {
    padding: 20px 40px;
    font-size: 18px;
    color: white;
    background-color: #093782; /* Reusing the button color from the login button */
    border: 2px solid #445677; /* A border that fits within the theme */
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto; /* Space between the two buttons */
    transition: background-color 0.3s;
    display: block;
    text-align: center;
}

.group-button:hover {
    background-color: #16213e;
}

/*change placeholder text color*/
::placeholder{
    color: #cac7ff
}

