*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3d07a8;
    color: #ffffff;
}

.login-button {
    position: absolute;
    margin-left: 1300px;
    margin-top: 5px;
    background: #0f3460;
    padding: 20px 30px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.login-button:hover {
    background-color: #16213e;
}

/* this is where the profile styling starts -------------------------------------------------------------------------------------------------------- */
.profile-pic-placeholder {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    background-color: #0f3460; /* Adjust color as needed to match your theme */
    border-radius: 50%; /* This makes the div a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* For text color, if you add any text inside */
    margin: 20px 0; /* Adjust spacing as needed */
    align-self: center;
}

.profile-pic-placeholder img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show-placeholder {
    position: relative;
    flex: 0 0 auto;
    text-align: center;
    width: 205px;
    height: 350px;
    margin-right: 20px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
}

.profile-info {
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
    margin: 0 auto; /* Center the div horizontally */
}

.profile-info .username {
    font-size: 32px; /* Example size, adjust as needed */
    margin-bottom: 10px;
    align-self: center;
}

.profile-info .user-bio {
    font-size: 20px; /* Example size, adjust as needed */
    max-width: 50%;
    word-wrap: break-word;
    border: 2px solid #445677;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    align-self: center;
}

h2 {
    align-self: flex-start;
}

/*change placeholder text color*/
::placeholder{
    color: #cac7ff
}

/* New CSS for scrollable rows */
.scrollable-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    width: 1125px;
    margin-bottom: 40px;
}

.scrollable-row::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollable-row h2 {
    color: #ffffff;
    padding: 0 20px;
}

