<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reiland Eubank</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="proftemplate.css">
    <script src="../sketch.js" defer></script>
</head>

<body>

    <div class="overlay"></div>

    <div class="background" style="background-image: url(https://external-preview.redd.it/K-HeVLqE9WLNiapH5FRiSKAlNSDYeEfrOUIf96odOrc.jpg?auto=webp&s=c549eef1aa645ffdb796019fbfa10f815e618404);"></div>

    <div class="wrapper">
        <div class="sidebar">
            <!-- profile image -->
            <div class = "profile">
                <div class="logo-placeholder"></div>
            </div>
    
            <!-- Button for side menu -->
            <div class="menu-button">
                <a href="#"><i class='bx bx-menu'></i></a>
            </div>
    
            <!-- list of buttons -->
            <ul>
                 <!-- home -->
                <li id="home"><a href="../home.html"> 
                    <span class="icon"><i class='bx bxs-home'></i></span>
                    <span class="item">Home</span>
                </a></li>
                <!-- profile -->
                <li id="profile"><a href="../profile.html"> 
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <span class="item">Profile</span>
                </a></li>
                <!-- library -->
                <li id="library"><a href="../library.html"> 
                    <span class="icon"><i class='bx bx-library'></i></span>
                    <span class="item">Library</span>
                </a></li>
                <!-- Disover -->
                <li id="discover"><a href="../discover.html"> 
                    <span class="icon"><i class='bx bx-search-alt'></i></span>
                    <span class="item">Discover</span>
                </a></li>
                <!-- Settings -->
                <li id="settings"><a href="../settings.html"> 
                    <span class="icon"><i class='bx bxs-cog'></i></span>
                    <span class="item">Settings</span>
                </a></li>
                <!-- Group-->
                <li id="group"><a href="../group.html">
                    <span class="icon"><i class='bx bxs-cog'></i></span>
                    <span class="item">Group</span>
                </a></li>
            </ul>
        </div>
    </div>

    <!-- Profile Content -->
    <div class="profile-info">
        <div class="profile-pic-placeholder">
            <img src="reiland.jpeg" 
            style="width: 100%; height: 100%; border-radius: 50%;">
        </div>
        <div class="username">Reiland Eubank</div>
        <div class="user-bio">Hey I'm Reiland, I'm on the STEM path to MBA and currently working as a software developer for Student Seats.
            In my free time I compete in powerlifting which is the main time I come up with fixes for bugs in my code.
        </div>
        
        <!-- Favorites -->
        <h2>Top Five TV Shows of All Time</h2>
        <div class="scrollable-row">
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BYzkwZDgwZmQtOWE4Yy00ZjgyLTgxZTYtZTRiMTg5MWY4NTFiXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg"
                alt="Top Gear"/>
            </div>
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BZjNhODYzZGItZWQ3Ny00ZjViLTkxMTUtM2EzN2RjYjU2OGZiXkEyXkFqcGdeQXVyMTI5MTc0OTIy._V1_.jpg"
                alt="South Park"/>
            </div>
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BNDFjYTIxMjctYTQ2ZC00OGQ4LWE3OGYtNDdiMzNiNDZlMDAwXkEyXkFqcGdeQXVyNzI3NjY3NjQ@._V1_FMjpg_UX1000_.jpg"
                alt="Attack on Titan"/>
            </div>
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_FMjpg_UX1000_.jpg"
                alt="Naruto"/>
            </div>
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BODcwOTg2MDE3NF5BMl5BanBnXkFtZTgwNTUyNTY1NjM@._V1_.jpg"
                alt="Daredevil"/>
            </div>
        </div>
    </div>

</body>
</html>