<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will Jefferson</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="proftemplate.css">
    <script src="../sketch.js" defer></script>
</head>

<body>

    <div class="overlay"></div>

    <div class="background" style="background-image: url(https://i.redd.it/nhcrp4gk7sk31.png);"></div>

    <div class="wrapper">
        <div class="sidebar">
            <!-- profile image -->
            <div class = "profile">
                <div class="logo-placeholder"></div>
            </div>
    
            <!-- Button for side menu -->
            <div class="menu-button">
                <a href="#"><i class='bx bx-menu'></i></a>
            </div>
    
            <!-- list of buttons -->
            <ul>
                 <!-- home -->
                <li id="home"><a href="../home.html"> 
                    <span class="icon"><i class='bx bxs-home'></i></span>
                    <span class="item">Home</span>
                </a></li>
                <!-- profile -->
                <li id="profile"><a href="../profile.html"> 
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <span class="item">Profile</span>
                </a></li>
                <!-- library -->
                <li id="library"><a href="../library.html"> 
                    <span class="icon"><i class='bx bx-library'></i></span>
                    <span class="item">Library</span>
                </a></li>
                <!-- Disover -->
                <li id="discover"><a href="../discover.html"> 
                    <span class="icon"><i class='bx bx-search-alt'></i></span>
                    <span class="item">Discover</span>
                </a></li>
                <!-- Settings -->
                <li id="settings"><a href="../settings.html"> 
                    <span class="icon"><i class='bx bxs-cog'></i></span>
                    <span class="item">Settings</span>
                </a></li>
                <!-- Group-->
                <li id="group"><a href="../group.html">
                    <span class="icon"><i class='bx bxs-cog'></i></span>
                    <span class="item">Group</span>
                </a></li>
            </ul>
        </div>
    </div>

    <!-- Profile Content -->
    <div class="profile-info">
        <div class="profile-pic-placeholder">
            <img src="will.jpeg" 
            style="width: 100%; height: 100%; border-radius: 50%;">
        </div>
        <div class="username">Will Jefferson</div>
        <div class="user-bio">Hi, I'm Will, and I play bass in a few different bands sometimes. I like C++, progressive rock, and jiu jitsu.</div>
        
        <!-- Favorites -->
        <h2>Top Five TV Shows of All Time</h2>
        <div class="scrollable-row">
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BNmU3MjkzZWQtOTk1Ni00OTNiLWJhMmMtNmEyN2JjZjUzZDUyXkEyXkFqcGdeQXVyNDIyNjA2MTk@._V1_FMjpg_UX1000_.jpg"
                alt="The Sopranos"/>
            </div>
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/M/MV5BYmQ4YWMxYjUtNjZmYi00MDQ1LWFjMjMtNjA5ZDdiYjdiODU5XkEyXkFqcGdeQXVyMTMzNDExODE5._V1_.jpg"
                alt="Breaking Bad"/>
            </div>
            <div class="show-placeholder">
                <img src="https://m.media-amazon.com/images/I/81ucKbnIugS._AC_UF894,1000_QL80_.jpg"
                alt="The Wire"/>
            </div>
            <div class="show-placeholder">
                <img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p13837077_b_v9_aa.jpg"
                alt="Better Call Saul"/>
            </div>
            <div class="show-placeholder">
                <img src="https://upload.wikimedia.org/wikipedia/en/2/2d/Fargoseason1promo.jpg"
                alt="Fargo"/>
            </div>
        </div>
    </div>

</body>
</html>