<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dream Viewr</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="{% static 'css/sketch.js' %}" defer></script>
</head>

<body>

  <!-- Button to go to login page -->
  <a href="{% url 'login' %}">
    <button class="login-button">Login</button>
  </a>

  <div class="wrapper">
      <!-- Include the sidebar -->
      {% include 'components/sidebar.html' %}
  </div>


  <div class="search-bar">
    <input type="text" placeholder="Search" name="q">
    <!-- Just a test to see if search button is interative -->
    <a href="https://giphy.com/gifs/spongebob-cartoon-nickelodeon-thumbs-3o7abKhOpu0NwenH3O">
      <button type="submit"><img src="{% static 'images/search.png' %}"></button>
    </a>
  </div>

  <div class="content">
    <!-- First header -->
    <h2>Trending</h2>

    <!-- Row 1 -->
    <div class="scrollable-row">

        {% for image_file in image_files|slice:":10" %}
            {% include 'components/show-card.html' %}
        {% endfor %}

      <!-- Add more placeholders as needed -->
    </div>

    <!-- Second header -->
    <h2>Top 10 Series</h2>

    <!-- Row 2 -->
    <div class="scrollable-row">

      {% for image_file in image_files|slice:"10:20" %}
          {% include 'components/show-card.html' %}
      {% endfor %}

    </div>

    <!-- Third header -->
    <h2>Award Nominated</h2>

    <!-- Row 3 -->
    <div class="scrollable-row">

      {% for image_file in image_files|slice:"20:30" %}
        {% include 'components/show-card.html' %}
      {% endfor %}

    </div>

    <!-- Fourth header -->
    <h2>Coming Soon</h2>

    <!-- Row 4 -->
    <div class="scrollable-row">

      {% for image_file in image_files|slice:"30:40" %}
          {% include 'components/show-card.html' %}
      {% endfor %}

    </div>

  </div>

</body>

</html>