<!-- {% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>

<p><a href="{% url 'password_change' %}">Password Change</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

{% else %}
<p>You are not logged in</p>

<p><a href="{% url 'login' %}">Log In</a></p>
<p><a href="{% url 'signup' %}">Sign up</a></p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>


{% endif %}
{% endblock %} -->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dream Viewr</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="{% static 'js/sketch.js' %}" defer></script>


  

</head>

<body>

  {% if not request.user.is_authenticated %}  
      <!-- Button to go to login page -->
      <a href="{% url 'login' %}">
        <button class="login-button">Login</button>
      </a>
  {% endif %}

  <div class="wrapper">
      <!-- Include the sidebar -->
      {% include 'components/sidebar.html' %}
  </div>


  <div class="search-bar">
    <input type="text" placeholder="Search" name="q">
    <!-- Just a test to see if search button is interative -->
    <a href="https://giphy.com/gifs/spongebob-cartoon-nickelodeon-thumbs-3o7abKhOpu0NwenH3O">
      <button type="submit"><img src="{% static 'img/search.png' %}"></button>
    </a>
  </div>

  <div class="content">
    <!-- First header -->
    <h2>Trending</h2>

    <!-- Row 1 -->
    <div class="scrollable-row">

        {% for show in all_shows|slice:":20" %}
            {% include 'components/show-card.html' %}
        {% endfor %}
  
      <!-- Add more placeholders as needed -->
    </div>

    <!-- Second header -->
    <h2>Top 10 Series</h2>

    <!-- Row 2 -->
    <div class="scrollable-row">

        {% for show in top_ten_shows %}
            <!-- 1 -->
            <a href="{% url 'showprofile' show_id=show.id %}">
                <div class="top-ten">
                    <div class="number">
                        {% if forloop.counter == 10 %}
                            <i class="fa-solid fa-1"></i>
                            <i class="fa-solid fa-0"></i>
                        {% else %}
                            <i class="fa-solid fa-{{ forloop.counter }}"></i>
                        {% endif %}
                    </div>

                    <div class="show">
                        <img src="{% static 'img/imgVar/' %}{{ show.poster_path }}">
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

    <!-- Third header -->
    <h2>Fan Favorites</h2>

    <!-- Row 3 -->
    <div class="scrollable-row">

        {% for show in all_shows|slice:"50:70" %}
            {% include 'components/show-card.html' %}
        {% endfor %}

    </div>

    <!-- Fourth header 
    <h2>Coming Soon</h2>

    <div class="scrollable-row">

      {% for image_file in image_files|slice:"30:40" %}
          {% include 'components/show-card.html' %}
      {% endfor %}
      
    </div>
  -->

  </div>


  <script>
    (function () {
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
    })();
  </script>


</body>

</html>