<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Favorite Shows</title>
</head>
<body>
    <h2>Update Favorite Shows</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>


Current favorite shows:


{% if request.user.is_authenticated %}
    {% for mv in request.user.fav_shows.all %}
        {{ mv }}
    {% endfor %}
{% endif %}


All shows:

{% for show in all_shows %}
    {{ show }}
{% endfor %}


</body>
</html>
