*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3d07a8;
    color: #ffffff;
}

.login-button {
    position: absolute;
    margin-left: 1300px;
    margin-top: 5px;
    background: #0f3460;
    padding: 20px 30px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.login-button:hover {
    background-color: #16213e;
}

/* this is where the profile styling starts -------------------------------------------------------------------------------------------------------- */
.profile-pic-placeholder {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    background-color: #0f3460; /* Adjust color as needed to match your theme */
    border-radius: 50%; /* This makes the div a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* For text color, if you add any text inside */
    margin: 20px 0; /* Adjust spacing as needed */
}

.profile-info .username {
    font-size: 32px; /* Example size, adjust as needed */
    padding: 10px;
    /* Other styling */
}

.profile-info .user-bio {
    font-size: 20px; /* Example size, adjust as needed */
    max-width: 50%;
    margin-right: auto;
    word-wrap: break-word;
    border: 2px solid #445677;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    /* Other styling */
}

.profile-info, .content {
    margin-left: 270px; /* Adjust this value to align with the sidebar width + some extra space */
    margin-top: 20px; /* Adjust as needed to move content down */
    padding: 20px;
    margin-bottom: 100px;
    }

.content {
    display: flex;
    flex-direction: column; /* Stack the rows vertically */
    align-items: center; /* Center the content horizontally */
    margin-top: 40px;
}

h2 {
    align-self: flex-start;
}

/*change placeholder text color*/
::placeholder{
    color: #cac7ff
}

/* New CSS for scrollable rows */
.scrollable-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    width: 1105px;
    
}

.scrollable-row::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollable-row h2 {
    color: #ffffff;
    padding: 0 20px;
}

.show-placeholder {
    flex: 0 0 auto;
    width: 140px;
    height: 200px;
    margin-right: 20px;
    background-color: #0f3460;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
}

.show-placeholder img {
    width: 100%;
    height: auto;
    /*border-radius: 10px;*/
}

