<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'discover.css' %}">
    <script src="{% static 'sketch.js'%}" defer></script>
</head>
<body>

  <!-- Button to go to login page -->
<a href="{% url 'login' %}">
    <button class="login-button">Login</button>
</a>
  
<div class="overlay"></div>

<div class="wrapper">
    <div class="sidebar">
        <!-- profile image -->
        <div class = "profile">
            <div class="logo-placeholder"></div>
        </div>

        <!-- Button for side menu -->
        <div class="menu-button">
            <a href="#"><i class='bx bx-menu'></i></a>
        </div>

        <!-- list of buttons -->
      <ul>
        <!-- home -->
        <li id="home"><a href="{% url 'home' %}">
            <span class="icon"><i class='bx bxs-home'></i></span>
            <span class="item">Home</span>
          </a></li>
        <!-- profile -->
        <li id="profile"><a href="{% url 'profile' %}">
            <span class="icon"><i class='bx bxs-user'></i></span>
            <span class="item">Profile</span>
          </a></li>
        <!-- library -->
        <li id="library"><a href="{% url 'home' %}">
            <span class="icon"><i class='bx bx-library'></i></span>
            <span class="item">Library</span>
          </a></li>
        <!-- Disover -->
        <li id="discover"><a href="{% url 'discover' %}">
            <span class="icon"><i class='bx bx-search-alt'></i></span>
            <span class="item">Discover</span>
          </a></li>
        <!-- Settings -->
        <li id="settings"><a href="#">
            <span class="icon"><i class='bx bxs-cog'></i></span>
            <span class="item">Settings</span>
          </a></li>
        <!-- Group-->
        <li id="group"><a href="{% url 'group' %}">
            <span class="icon"><i class='bx bxs-cog'></i></span>
            <span class="item">Group</span>
          </a></li>
      </ul>


    </div>
</div>
 

<div class="search-bar">
        <input type="text" placeholder="Search" name="q">
     <!-- Just a test to see if search button is interative -->
    <a href="https://giphy.com/gifs/spongebob-cartoon-nickelodeon-thumbs-3o7abKhOpu0NwenH3O">
        <button type="submit"><img src="{% static 'images/search.png' %}"></button>   
    </a>
</div>

<div class="content">
    <!-- First header -->
    <h2>Because you watched...</h2>
  
    <!-- Row 1 -->
    <div class="scrollable-row">
        
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <!-- Add more placeholders as needed -->
    </div>

     <!-- Second header -->
     <h2>TV For You</h2>

    <!-- Row 2 -->
    <div class="scrollable-row">
        
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <!-- Add more placeholders as needed -->
    </div>

     <!-- Third header -->
     <h2>What's New</h2>

    <!-- Row 3 -->
    <div class="scrollable-row">
        
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <div class="show-placeholder">Placeholder</div>
        <!-- Add more placeholders as needed -->
    </div>

    <!-- Genre header -->
    <h2>Discover By Genre</h2>

    <!-- Thumbnail grid for genres -->
    <div class="thumbnail-grid">

        <!-- Drama -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/drama.jpg' %}">
            <span class="genre-text">Drama</span>
        </div>
    </a>
        <!-- Comedy -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/comedy.jpg' %}">
            <span class="genre-text">Comedy</span>
        </div>
    </a>
        <!-- Action -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/action.jpg' %}">
            <span class="genre-text">Action</span>
        </div>
    </a>
        <!-- Thriller -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/thriller.jpg' %}">
            <span class="genre-text">Thriller</span>
        </div>
    </a>
        <!-- Sci-Fi -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/sci-fi.jpg' %}">
            <span class="genre-text">Sci-Fi</span>
        </div>
    </a>
        <!-- Fantasy -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/fantasy.jpg' %}">
            <span class="genre-text">Fantasy</span>
        </div>
    </a>
        <!-- Horror -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/horror2.jpg' %}">
            <span class="genre-text">Horror</span>
        </div>
    </a>
        <!-- Crime -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/crime.jpg' %}">
            <span class="genre-text">Crime</span>
        </div>
    </a>
        <!-- Romance -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/romance.jpg' %}">
            <span class="genre-text">Romance</span>
        </div>
    </a>
        <!-- Documentary -->
    <a href="{% url 'discover' %}">
        <div class="genre-placeholder">
            <img src="{% static 'images/documentary.jpg' %}">
            <span class="genre-text">Documentary</span>
        </div>
    </a>
    </div>
    
</div>

</body>
</html>