<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href=" {% static '/css/profile.css' %} ">
    <script src="{% static 'js/sketch.js' %}" defer></script>
</head>

<body>

    <div class="wrapper">
        <!-- Include the sidebar -->
        {% include 'components/sidebar.html' %}
    </div>

    <!-- Profile Content -->
    <div class="profile-info">
        <div class="profile-pic-placeholder">
            <img src="{% static 'img/comedy.jpg' %}">
        </div>
        <div class="username"> {{ request.user.username }} </div>

        <!--
        <div class="user-bio">Just a guy trying to make it in the waste management business. 
            Loves ducks, good Italian food, and a quiet day on the boat.</div>
        -->
        
        <!-- Favorites -->
        <h2>Favorites</h2>
        <div class="scrollable-row">
            {% if request.user.is_authenticated %}

                {% if not fav_shows|length and not fav_top_rated|length %}
                    <div class="scrollable-row">
                        <div class="show-placeholder">Add shows to favorites!</div>
                    </div>
                {% else %}
                    {% for show in request.user.fav_shows.all %}
                        {% include 'components/show-card.html' %}
                    {% endfor %}

                    {% for show in request.user.fav_top_rated.all %}
                        {% include 'components/show-card.html' %}
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>


        <!-- Completed -->
        <h2>Completed</h2>
        <div class="scrollable-row">
            {% if request.user.is_authenticated %}

                {% if not comp_shows|length and not comp_top_rated|length %}
                    <div class="scrollable-row">
                        <div class="show-placeholder">Add shows to completed!</div>
                    </div>
                {% else %}
                    {% for show in request.user.comp_shows.all %}
                        {% include 'components/show-card.html' %}
                    {% endfor %}

                    {% for show in request.user.comp_top_rated.all %}
                        {% include 'components/show-card.html' %}
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>

        <!-- Watchlist -->
        <h2>Watchlist</h2>
        <div class="scrollable-row">
            {% if request.user.is_authenticated %}

                {% if not watch_shows|length and not watch_top_rated|length %}
                    <div class="scrollable-row">
                        <div class="show-placeholder">Add shows to watchlist!</div>
                    </div>
                {% else %}
                    {% for show in request.user.watch_shows.all %}
                        {% include 'components/show-card.html' %}
                    {% endfor %}

                    {% for show in request.user.watch_top_rated.all %}
                        {% include 'components/show-card.html' %}
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>
        
    </div>



    <script>
        (function () {
            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
        })();
      </script>

</body>
</html>
