<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Show Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/showprofile.css' %}">
    

    <input type="hidden" id="isAuthenticated" value="{% if request.user.is_authenticated %}true{% else %}false{% endif %}">
  <!--   <input type="hidden" id="vote_average" value="{{ show.vote_average }}"> -->
    
</head>
<body>

    <form>
        {% csrf_token %}
        <!-- Other form fields -->
    </form>



<!-- TV Show Profile Content -->
<div class="show-profile-info">

    <div class="background-div-left"></div>
    <div class="background-div-right"></div>

    <div class="background-image">
        <img src="{% static 'img/imgVar/' %}{{ show.backdrop_path }}">
    </div>

    <!-- left div -->
    <div class="show-left">
        <div class="show-pic">
            <img src="{% static 'img/imgVar/' %}{{ show.poster_path }}">
        </div>
        <div class="streaming-on">Streaming On:</div>

        <div class="streaming-sites">
            <a href="https://www.netflix.com" target="_blank">
                <div class="streaming-placeholder">
                    <img src="{% static 'img/netflix.jpg' %}">
                </div>
            </a>

            <a href="https://www.hulu.com/hub/home" target="_blank">
                <div class="streaming-placeholder">
                    <img src="{% static 'img/hulu.png' %}">
                </div>
            </a>

            <a href="https://www.disneyplus.com" target="_blank">
                <div class="streaming-placeholder">
                    <img src="{% static 'img/disney.jpg' %}">
                </div>
            </a>
        </div>

    </div>

    <!-- right div -->
    <div class="show-right">
        <div class="title-year">
            <h1> {{show.title}} <span class="year"> {{ show.air_date|date:"Y" }} </span></h1>
        </div>

        <div class="tvpg-genre">
            <div class="tvpg-rating">
                <p>PG-13</p>
            </div>
            <div class="genre">
                <p> {{show.genres}} </p>
            </div>
        </div>

        <div class="show-icons">
            <span class="check" data-show-id="{{ show.id }}" data-show-title="{{ show.title }}">

                {% if show.id in comp_show_ids or show.id in comp_top_ids%}
                    <i class='bx bx-check-circle completed'></i>
                {% else %}
                    <i class='bx bx-check-circle'></i>
                {% endif %}  

            </span>

            <span class="star" data-show-id="{{ show.id }}" data-show-title="{{ show.title }}"> 
                                     
                {% if show.id in fav_show_ids or show.id in fav_top_ids%}
                    <i class='bx bxs-star favorited'></i>
                {% else %}
                    <i class='bx bxs-star'></i>
                {% endif %}   
                 
            </span>

            <span class="watchlist" data-show-id="{{ show.id }}" data-show-title="{{ show.title }}"> 
                                     
                {% if show.id in watch_show_ids or show.id in watch_top_ids%}
                    <i class='bx bx-bookmark-plus watchlisted'></i>
                {% else %}
                    <i class='bx bx-bookmark-plus'></i>
                {% endif %}   
                 
            </span>

            <i class='bx bxs-message-rounded'></i>
        </div>

        <div class="show-description">
            <h3>Description</h3>
            <p> {{show.overview}} </p>
        </div>

        <div class="rotten-tomato">Rating:</div>

        <div class="circle-wrap">
            <div class="outer">
                <div class="inner">
                    <div id="number"></div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle id="circle" cx="80" cy="80" r="49" stroke-linecap="round" />
                </svg>
            </div>
        </div>

    </div>

</div>

<!-- Episode content -->
<div class="episode-info">
    <div class="dropdown"> 
        <div class="selected-season">
            <h3>Season 1</h3>
            <div class="drop-button">
                <i class='bx bx-chevron-down'></i>
            </div>
        </div>
        
        <ul>
            <li><a href='#'>Season 1</a></li>
            <li><a href='#'>Season 2</a></li>
            <li><a href='#'>Season 3</a></li>
            <li><a href='#'>Season 4</a></li>
            <li><a href='#'>Season 5</a></li>
        </ul>
    </div>

    {% for _ in "xxx" %}
        <div class="pic-text">
            <div class="episode-pic">
                <img src="{% static 'img/imgVar/' %}{{ show.backdrop_path }}">
            </div>

            <div class="episode-text">
                <div class="num-title">
                    <h1>S1 E1</h1>
                    <h1>-</h1>
                    <h1>Title</h1>
                </div>

                <div class="episode-description">
                    <p> {{show.overview}} </p>
                </div>

                <div class="length-date">
                    <h3>24 min</h3>
                    <h3>*</h3>
                    <h3>Jan 31, 1999</h3>
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>

<div class="black-div">
    <div class="cast-info">
        <h1>Cast</h1>

        <div class="scrollable-row">

            {% for _ in "xxxxxxx" %}
                <div class="cast-members">
                    <div class="cast-pic">
                        <img src="{% static 'img/imgVar/' %}{{ show.poster_path }}">
                    </div>
                    <p> {{show.title}} </p>
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    //const vote = document.getElementById('vote_average').value;

    function updateProgress(percentage) {
        let number = document.getElementById("number");
        let counter = 0;
        let interval;

        setInterval(() => {
            if(counter == percentage) {
                clearInterval(interval);
            }
            else {
                counter += 1;
                number.innerHTML = `${counter}%`;
            }
        }, 12);

        const circle = document.querySelector('circle');
        const circumference = parseFloat(circle.getAttribute('stroke-dasharray'));
        const offset = circumference * (1 - percentage / 100);
        circle.style.strokeDashoffset = offset;
    }

    // Get the circle element
    const circle = document.querySelector('.circle');

    // Update the custom property value dynamically
    function updateDashOffset(percentage) {
        const circumference = 307.86; // Adjust this value based on your circle's circumference
        const dashOffset = circumference - (circumference * percentage / 100); 
        document.documentElement.style.setProperty('--dash-offset', `${dashOffset}`);
    }

    //var integer = Math.round(vote * 10);
    updateProgress(90);
    updateDashOffset(90); 
    
    /* Function to bring out seasons list *******************************************/
    var dropButton = document.querySelector(".drop-button");
    var icon = dropButton.querySelector("i");

    dropButton.addEventListener("click", function(event) {
        event.preventDefault(); // Prevent default link behavior
        document.querySelector(".dropdown ul").classList.toggle("active"); // Toggle the "active" class on the dropdown list

         // Toggle the chevron icon
    if (icon.classList.contains('bx-chevron-down')) {
        icon.classList.remove('bx-chevron-down');
        icon.classList.add('bx-chevron-up');
    } else {
        icon.classList.remove('bx-chevron-up');
        icon.classList.add('bx-chevron-down');
    }
    }); 




    document.addEventListener('DOMContentLoaded', async function() {
    // Select all star icons and add click event listeners
    document.querySelectorAll('.star').forEach(function(star) {
        star.addEventListener('click', async function(event) {
            event.preventDefault(); // Prevent the default link behavior

            const isAuthenticatedValue = document.getElementById('isAuthenticated').value;
            const isAuthenticated = isAuthenticatedValue === 'true';
            
            if (!isAuthenticated) {
                window.location.href = 'https://localhost/accounts/login/';
                return;
            }

            const showId = this.getAttribute('data-show-id');
            const title = this.getAttribute('data-show-title');
            const starIcon = this.querySelector('i');
            starIcon.classList.toggle('favorited');

            let firstFetchSuccessful = false;
            
            try {
                const response = await fetch(`https://localhost/tv-manager/ajax_update_fav_shows/${showId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ showId: showId }),
                });

                if (!response.ok) {
                    throw new Error('Failed to favorite the show');
                }

                const data = await response.json();
                const action = data.action;
                const fav_show_ids = data.fav_show_ids;

                console.log('fav_show_ids:', fav_show_ids);
                firstFetchSuccessful = true;

                if (action === 'added') {
                    alert(`${title} has been added to favorites!`);
                    starIcon.classList.add('favorited');
                } else if (action === 'removed') {
                    alert(`${title} has been removed from favorites!`);
                    starIcon.classList.remove('favorited');
                }

                window.location.reload();
                

                
            } catch (error) {
                console.error('Error:', error);
                // Handle errors (e.g., display error message to the user)
            }

            console.log('First fetch successful:', firstFetchSuccessful);

        });
    });
}); 


document.addEventListener('DOMContentLoaded', async function() {
    // Select all check icons and add click event listeners
    document.querySelectorAll('.check').forEach(function(check) {
        check.addEventListener('click', async function(event) {
            event.preventDefault(); // Prevent the default link behavior

            const isAuthenticatedValue = document.getElementById('isAuthenticated').value;
            const isAuthenticated = isAuthenticatedValue === 'true';
            
            if (!isAuthenticated) {
                window.location.href = 'https://localhost/accounts/login/';
                return;
            }

            const showId = this.getAttribute('data-show-id');
            const title = this.getAttribute('data-show-title');
            const checkIcon = this.querySelector('i');
            checkIcon.classList.toggle('completed');

            let firstFetchSuccessful = false;
            
            try {
                const response = await fetch(`https://localhost/tv-manager/ajax_update_comp_shows/${showId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ showId: showId }),
                });

                if (!response.ok) {
                    throw new Error('Failed to mark show as completed');
                }

                const data = await response.json();
                const action_comp_show = data.action_comp_show;
                const comp_show_ids = data.comp_show_ids;

                console.log('comp_show_ids:', comp_show_ids);
                firstFetchSuccessful = true;

                if (action_comp_show === 'added') {
                    alert(`${title} has been added to completed!`);
                    checkIcon.classList.add('completed');
                } else if (action_comp_show === 'removed') {
                    alert(`${title} has been removed from completed!`);
                    checkIcon.classList.remove('completed');
                }

                window.location.reload();
                

                
            } catch (error) {
                console.error('Error:', error);
                // Handle errors (e.g., display error message to the user)
            }

            console.log('First fetch successful:', firstFetchSuccessful);


        });
    });
});  


document.addEventListener('DOMContentLoaded', async function() {
    // Select all check icons and add click event listeners
    document.querySelectorAll('.watchlist').forEach(function(watchlist) {
        watchlist.addEventListener('click', async function(event) {
            event.preventDefault(); // Prevent the default link behavior

            const isAuthenticatedValue = document.getElementById('isAuthenticated').value;
            const isAuthenticated = isAuthenticatedValue === 'true';
            
            if (!isAuthenticated) {
                window.location.href = 'https://localhost/accounts/login/';
                return;
            }

            const showId = this.getAttribute('data-show-id');
            const title = this.getAttribute('data-show-title');
            const watchlistIcon = this.querySelector('i');
            watchlistIcon.classList.toggle('watchlisted');

            let firstFetchSuccessful = false;
            
            try {
                const response = await fetch(`https://localhost/tv-manager/ajax_update_watch_shows/${showId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ showId: showId }),
                });

                if (!response.ok) {
                    throw new Error('Failed to add show to watchlist.');
                }

                const data = await response.json();
                const action_watch_show = data.action_watch_show;
                const watch_show_ids = data.watch_show_ids;

                console.log('watch_show_ids:', watch_show_ids);
                firstFetchSuccessful = true;

                if (action_watch_show === 'added') {
                    alert(`${title} has been added to watchlist!`);
                    checkIcon.classList.add('watchlisted');
                } else if (action_watch_show === 'removed') {
                    alert(`${title} has been removed from watchlist!`);
                    watchlistIcon.classList.remove('watchlisted');
                }

                window.location.reload();
                

                
            } catch (error) {
                console.error('Error:', error);
                // Handle errors (e.g., display error message to the user)
            }

            console.log('First fetch successful:', firstFetchSuccessful);

        });
    });
});  

// Function to get the CSRF token from the form
function getCSRFToken() {
    const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
    if (csrfTokenElement) {
        return csrfTokenElement.value;
    } else {
        console.error('CSRF token not found');
        return null;
    }
} 
    

</script>

<style>
    
</style>

</body>
</html>